JWT_SECRET=
JWT_REFRESH_SECRET=

AGORA_APP_ID=
AGORA_APP_CERTIFICATE=

OPENAI_API_KEY=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_STRIPE_PUBLISHABLE_KEY=

NODEMAILER_EMAIL=
NODEMAILER_PASSWORD=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
