# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Build outputs
dist/
build/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

k8s/common/secret.yaml
k8s/**/secret.yaml